/* Reset CSS */
*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template: 50px auto auto 50px / 0.2fr 0.5fr 0.2fr;
    /* grid-template-areas:
    "header header"
    "menu contenido"
    "footer footer"; */
}

.header{
    background: #a6e2a6;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    display: grid;
    grid-template: auto / 0.1fr auto 0.1fr;
    text-align: center;
}

.menu{
    background: #2a62da;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: grid;
    place-items: center;
}

.contenido{
    background: #e4e4e4;
    grid-row: 2 /4;
    grid-column: 2 / 4;
    display: grid;
    /* alineación horizontal */
    /* justify-items: start; */
    /* alineación vertical */
    /* align-items: end; */
    place-items: center;
}

.footer{
    background: #eed963;
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    display: grid;
    place-items: center;
}

.area1{
    background: #db8514;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
} 

.area2{
    background: #e43535;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
} 

.logo{
    background: #e41977;
    grid-column: 1 / 2;
    margin: 5px;
    display: grid;
    place-items: center;
}

.salir{
    background: #1c19e4;
    grid-column: 3 / 4;
    margin: 5px;
    display: grid;
    place-items: center;
}